body {
  font-family: Arial;
}

#chartdiv {
  width: 100%;
  height: 400px;
  background-color: #EBF5FB;
  font-weight: bold;
}

h1 {
  background-color: #8AD4EB;
  text-align: center; 
}

.cites { background: #EBF5FB; }

.controls button {
 padding: 8px;
 border-radius: 8px;
 font-size: 30px;
 margin-right: 20px;
 cursor: pointer;
 border: 5px solid #8AD4EB;
}

.home {
 border: 5px solid #8AD4EB;
 font-weight: bold;
 font-size: 30px;
 font-family: Arial;
}

.home:hover {
 background-color: #EBF5FB;
}