h4 {
  font-size: 16px;
  margin-left: 60px;
}

#cloud1,
#cloud2,
#cloud3,
#cloud4 {
  margin: 0;
  background-color: #ebf9f8;
  text-align: center;
  color: black;
}

#theme {
  background-color: #ebf9f8;
  border: 5px solid #33cccc;
  text-align: center;
}

/* Word Cloud 1 */
#tagcloud1 {
  width: 100%;
  height: 400px;
  font-weight: bold;
}

/* Word Cloud 2 */
#tagcloud2 {
  height: 600px;
  width: 100%;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

ul.cloud {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  line-height: 2.75rem;
  width: 450px;
}

ul.cloud a {
  --size: 4;
  --color: #16bbce;
  color: var(--color);
  font-size: calc(var(--size) * 0.25rem + 0.5rem);
  display: block;
  padding: 0.125rem 0.25rem;
  position: relative;
  text-decoration: none;
}

ul.cloud a[data-weight="3"] {
  --size: 4;
}

ul.cloud a[data-weight="6"] {
  --size: 8;
}

ul.cloud a[data-weight="9"] {
  --size: 16;
}

ul[data-show-value] a::after {
  content: " (" attr(data-weight) ")";
  font-size: 1rem;
}

ul.cloud li:nth-child(2n+1) a {
  --color: #16bbce;
}

ul.cloud li:nth-child(3n+1) a {
  --color: #006400;
}

ul.cloud li:nth-child(4n+1) a {
  --color: #FFD700;
}

ul.cloud a:focus {
  outline: 1px dashed;
}

ul.cloud a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 0;
  height: 100%;
  background: var(--color);
  transform: translate(-50%, 0);
  opacity: 0.15;
  transition: width 0.25s;
}

ul.cloud a:focus::before,
ul.cloud a:hover::before {
  width: 100%;
}

@media (prefers-reduced-motion) {
  ul.cloud * {
    transition: none !important;
  }
}

/* tagcloud 3 */
#tagcloud3 {
  min-width: 400px;
  max-width: 800px;
  margin: 0 auto;
  font-weight: bold;
}

/* tagcloud 4 */
#tagcloud4 {
  text-align: center;
  float: center;
  margin-left: 350px;
  background-color: #ebf9f8;
  font-family: Arial;
  font-size: 16px;
  color: black;
  width: 650px;
  height: 350px;
  border: 5px solid #16bbce;
  padding: 5px;
}

a:link,
a:visited {
  color: #33cccc;
}

a:hover {
  color: #33cccc;
}